* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: #21232A;
    color: white;
    padding: 40px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

.card-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card{
    align-content: center;
    overflow: hidden;
    margin: 0 10px 20px 0;
    text-align: center;
    flex-basis: 30%;
}